<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card" *ngIf="!isLoading">
  <h4 class="card-header">Current Active Tasks ({{cats.length}})</h4>
  <div class="card-block">
    <table class="table table-bordered table-striped">
      <thead class="thead-default">
        <tr>
          <th>Name</th>
          <th>Organisation</th>
          <th>Task</th>
          <th>Location</th>
          <th>Date</th>
          <th>Actions</th>
        </tr>
      </thead>
      <tbody *ngIf="cats.length === 0">
        <tr>
          <td colspan="6">There are no record in the DB. Add a new data below.</td>
        </tr>
      </tbody>
      <tbody *ngIf="!isEditing">
        <tr *ngFor="let cat of cats">
          <td>{{cat.name}}</td>
          <td>{{cat.organisation}}</td>
          <td>{{cat.task}}</td>
          <td>{{cat.location}}</td>
          <td>{{cat.date}}</td>
          <td>
            <button class="btn btn-sm btn-warning" (click)="enableEditing(cat)"><i class="fa fa-pencil"></i> Edit</button> <button class="btn btn-sm btn-danger" (click)="deleteCat(cat)"><i class="fa fa-trash"></i> Delete</button>
          </td>
        </tr>
      </tbody>
      <tbody *ngIf="isEditing">
        <tr>
          <td colspan="6">
            <form class="form-inline" #form="ngForm" (ngSubmit)="editCat(cat)" style="display:inline">
              <div class="form-group">
                  <input class="form-control" type="text" name="name" [(ngModel)]="cat.name" placeholder="Name" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="organisation" [(ngModel)]="cat.organisation" placeholder="Organisation" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="task" [(ngModel)]="cat.task" placeholder="Task" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="location" [(ngModel)]="cat.location" placeholder="Location" required>
              </div>
              <div class="form-group">
                <input class="form-control" type="text" name="date" [(ngModel)]="cat.date" placeholder="Due Date" required>
              </div>
              <button class="btn btn-sm btn-primary" type="submit" [disabled]="!form.form.valid"><i class="fa fa-floppy-o"></i> Save</button>
            </form>
            <button class="btn btn-sm btn-warning" (click)="cancelEditing()"><i class="fa fa-times"></i> Cancel</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<div class="card" *ngIf="!isEditing">
  <h4 class="card-header">Add new task</h4>
  <div class="card-block">
    <form class="form-inline" [formGroup]="addCatForm" (ngSubmit)="addCat()" style="text-align:center">
      <div class="form-group">
          <input class="form-control" type="text" name="name" formControlName="name" placeholder="Name">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="organisation" formControlName="organisation" placeholder="Organisation">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="task" formControlName="task" placeholder="Task" >
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="location" formControlName="location" placeholder="Location">
      </div>
      <div class="form-group">
        <input class="form-control" type="text" name="date" formControlName="date" placeholder="Due Date">
      </div>
      <button class="btn btn-primary" type="submit" [disabled]="!addCatForm.valid"><i class="fa fa-floppy-o"></i> Add</button>
    </form>
  </div>
</div>
