<div class="card">
  <h4 class="card-header">Home</h4>
  <div class="card-block">

  <form method="get" action="http://www.google.com/search" >
    <div class="form-group">
      <div class="input-group">
        <div class="input-group-addon"><i class="fa fa-search"></i></div>
        <input type="text" class="form-control" name="q" size="31" maxlength="255" value="" />
          </div>
          <br/>
      <input type="submit" value="Google Search" />

      <input type="radio" name="sitesearch" value="http://www.google.com/search" />
      The Web
      <input type="radio" name="sitesearch" value="https://clubhouse-webapps08.herokuapp.com/" checked />
      Ask Me
    </div>
  </form>


  </div>
</div>
