<app-toast [message]="toast.message"></app-toast>

<div id="div-with-bg">
<div class="container">
  <section id="content">
    <form action=""[formGroup]="loginForm" (ngSubmit)="login()">
      <h1>Sign in to ClubHouse</h1>
      <h3><a routerLink="/register" class="auth-link">New to ClubHouse? Sign up!</a><br/><br/></h3>
          <div class="input-group" [ngClass]="setClassEmail()">
            <span class="input-group-addon"><i class="fa fa-envelope"></i></span>
            <input class="form-control" type="email" name="email" formControlName="email" placeholder="Email" autofocus>
          </div>
          <div class="input-group" [ngClass]="setClassPassword()">
            <span class="input-group-addon"><i class="fa fa-key"></i></span>
            <input class="form-control" type="password" name="password" formControlName="password" placeholder="Password" autofocus>
          </div>
          <br/>
          <button class="btn btn-primary" type="submit" [disabled]="!loginForm.valid"><i class="fa fa-sign-in"></i> Login</button><br/><br/>
        </form>
        <div>
      </div>
      <br/>
      </section>
  </div>
</div>
