<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card" *ngIf="!isLoading" >
  <h4 class="card-header">Registered Users ({{filteredUsers.length}})</h4>
  <div class="card-block">

    <cm-filter-textbox (changed)="filterChanged($event)"></cm-filter-textbox>

    <br/>

    <table class="table table-bordered table-striped">
      <thead>
      <tr>
        <th cm-sort-by="username" (sorted)="sort($event)" >
          Username
          <span class="fa fa-caret-down"></span>
          <span class="fa fa-caret-up"></span>
        </th>
        <th cm-sort-by="email" (sorted)="sort($event)">Email
          <span class="fa fa-caret-down"></span>
          <span class="fa fa-caret-up"></span>
        </th>
        <th cm-sort-by="location" (sorted)="sort($event)">Location
          <span class="fa fa-caret-down"></span>
          <span class="fa fa-caret-up"></span>
        </th>
        <th cm-sort-by="sector" (sorted)="sort($event)">Sector
          <span class="fa fa-caret-down"></span>
          <span class="fa fa-caret-up"></span>
        </th>
        <!-- Or you can do this directly rather than using sort-by directive -->
        <th>Actions</th>
      </tr>
    </thead>
      <tbody *ngIf="users.length === 0">
        <tr>
          <td colspan="5">There are no registered users.</td>
        </tr>
      </tbody>
      <tbody>
        <tr *ngFor="let user of filteredUsers;trackBy:trackbyService.user" >
          <td>{{user.username}}</td>
          <td>{{user.email}}</td>
          <td>{{user.location}}</td>
          <td>{{user.sector}}</td>
          <td >
            <span *ngIf=" user.organisation === auth.currentUser.organisation">
              <button class="btn btn-sm btn-warning" routerLink="/account"><i class="fa fa-pencil"></i>Edit Profile</button>
            </span>
            <span *ngIf="user.organisation !== auth.currentUser.organisation" >
                <button class="btn btn-sm btn-success" routerLink="/messaging"><i class="fa fa-user-circle"></i>Messaging</button>
            </span>
          </td>
        </tr>
      </tbody>
    </table>

  </div>
</div>
