<div id="wrapper" >
  <nav role="navigation" id="access" >
    <a class="skip-link icon-reorder" title="Accéder au menu" href="#menu">Menu</a>
    <ul id="menu" *ngIf="auth.loggedIn">
      <li class="active"><a class="icon-home" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> Home</a></li><!-- whitespace
      --><li><a class="icon-envelope-alt" routerLink="/cats" routerLinkActive="active">Messaging</a></li><!-- whitespace
      --><li><a class="icon-picture" routerLink="/" routerLinkActive="active" *ngIf="!auth.loggedIn">Login</a></li><!-- whitespace
      --><li><a class="icon-leaf" routerLink="/register" routerLinkActive="active" *ngIf="!auth.loggedIn">Register</a></li><!-- whitespace
      --><li><a class="icon-leaf" routerLink="/account" routerLinkActive="active" *ngIf="auth.isCurrent">Account ({{auth.currentUser.organisation}})</a></li><!-- whitespace
      --><li><a class="icon-leaf" routerLink="/view" routerLinkActive="active" *ngIf= "!auth.isCurrent">View User</a></li><!-- whitespace
      --><li><a class="icon-group" routerLink="/userList" routerLinkActive="active" >User List</a></li><!-- whitespace
      --><li><a class="icon-picture" routerLink="/logout" routerLinkActive="active">Logout</a></li>
    </ul>
      </nav>
      <router-outlet></router-outlet>
</div>
