<div id="wrapper" >
  <nav role="navigation" id="access" >
    <a class="skip-link icon-reorder" title="Accéder au menu" href="#menu">Menu</a>
    <ul id="menu" *ngIf="auth.loggedIn">
      <li class="active"><a class="icon-home" routerLink="/home" routerLinkActive="active" [routerLinkActiveOptions]="{exact:true}"> Home</a></li><!-- whitespace
      --><li><a class="icon-leaf" routerLink="/account" routerLinkActive="active" >My Account</a></li><!-- whitespace
      --><li><a class="icon-envelope-alt" routerLink="/messaging" routerLinkActive="active">Messaging</a></li><!-- whitespace
      --><li><a class="icon-group" routerLink="/userList" routerLinkActive="active" >Contacts</a></li><!-- whitespace
      --><li><a class="icon-pushpin" routerLink="/events" routerLinkActive="active">Events</a></li><!-- whitespace
      --><li><a class="icon-picture" routerLink="/logout" routerLinkActive="active">Logout</a></li>
    </ul>
      </nav>
      <router-outlet></router-outlet>
</div>
