<app-loading [condition]="isLoading"></app-loading>

<app-toast [message]="toast.message"></app-toast>

<div class="card" *ngIf="!isLoading">
  <h4 class="card-header">{{user.organisation}} Account Info</h4>
  <div class="card-block">
    <form #accountForm="ngForm" (ngSubmit)="save(user)">
      <div class="input-group">
        <label>User Name: </label><br/>{{user.username}}
      </div>
      <div class="input-group">
        <label>Email Address: </label><br/>{{user.email}}
      </div>
    <div class="input-group">
      <label>Organisation: </label> <br/>{{user.organisation}}
    </div>
    <div class="input-group">
      <label>Sector: </label> <br/>{{user.sector}}
    </div>
    <div class="input-group">
      <label>Category: </label> <br/>{{user.category}}
    </div>
      <button class="btn btn-primary" type="submit" [disabled]="!accountForm.form.valid">
        <i class="fa fa-envelope-alt"></i> Message {{user.organisation}}
      </button>
    </form>
  </div>
</div>
